@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --color-primary: #1b4332; /* Dark forest green */
  --color-secondary: #95d5b2; /* Soft mint green */
  --color-accent: #40916c; /* Medium green for buttons/icons */
}

html.dark body {
  color: white;
  @apply bg-gray-950;
  transition: 1s;
}
html.light body {
  @apply bg-white;
  transition: 1s;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.active {
  text-decoration: underline;
}
