@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

html.dark body {
  color: white;
  @apply bg-gray-950;
  transition: 1s;
}
html.light body {
  @apply bg-white;
  transition: 1s;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.active {
  text-decoration: underline;
}
